.buttonradius12 {
  border-radius: 12px !important
}
.buttonradius20 {
  border-radius: 20px !important
}
.buttonradius16 {
  border-radius: 16px !important
}
.borderradius8 {
  border-radius: 8px !important;
}

/* button filter-landingpage */
.btn-custom {
  color: #3C3C3C;
  background-color: #E2D4F0;
  border-color: #E2D4F0;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.open .dropdown-toggle.btn-custom {
  color: #FFFFFF;
  background-color: #7126B5;
  border-color: #7126B5;
}

.btn-custom:active,
.btn-custom.active,
.open .dropdown-toggle.btn-custom {
  background-image: none;
}

.btn-custom.disabled,
.btn-custom[disabled],
fieldset[disabled] .btn-custom,
.btn-custom.disabled:hover,
.btn-custom[disabled]:hover,
fieldset[disabled] .btn-custom:hover,
.btn-custom.disabled:focus,
.btn-custom[disabled]:focus,
fieldset[disabled] .btn-custom:focus,
.btn-custom.disabled:active,
.btn-custom[disabled]:active,
fieldset[disabled] .btn-custom:active,
.btn-custom.disabled.active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom.active {
  background-color: #7126B5;
  border-color: #7126B5;
}

.btn-custom .badge {
  color: #3C3C3C;
  background-color: #ffffff;
}

/* Carosel */
.karosel {
  max-width: 100%;
  max-height: 100%
}

/* icon panah dropdown */
.dropdown-toggle::after {
  display: none !important;
}

.dropdown-menu {
  min-width: 376px;
}
.dropdown-item {
  padding: 10px;
}


.notifikasi {
  border-radius: 0;
  padding: 0;
}


.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #fff;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  padding: 5px;
}